<div class="app-service app-flex">
  <div class="app-service-main app-container app-flex">
    <div class="app-main-info app-flex">
        <h2 class="app-main-info-title">{{service_header_title}}</h2>
        <p class="app-main-info-sub-title">{{service_header_title_sub}}</p>
        <div class="app-main-info-animation app-flex">
          <div class="app-main-info-animation-box"></div>
        </div>
        <p class="app-main-info-paragraph">{{service_header_paragraph}}</p>
    </div>
    <div class="app-main-box app-flex">
      <div class="app-main-box-wight app-flex">
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class="fa-solid fa-user app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_treatment_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_treatment_paragraph}}</p>
        </div>
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class="fa-solid fa-hotel app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_resorts_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_resorts_paragraph}}</p>
        </div>
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class="fas fa-wifi app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_wifi_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_wifi_paragraph}}</p>
        </div>
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class="fas fa-ambulance app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_support_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_support_paragraph}}</p>
        </div>
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class="fa-solid fa-user-pilot app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_motorist_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_motorist_paragraph}}</p>
        </div>
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class="fa-solid fa-ship app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_cruises_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_cruises_paragraph}}</p>
        </div>
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class="fa-solid fa-car app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_parking_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_parking_paragraph}}</p>
        </div>
        <div class="app-main-box-element app-flex">
          <div class="app-main-box-element-icon">
            <i class=" fa-solid fa-plane-arrival app-main-box-element-icon-size"></i>
          </div>
          <h3 class="app-main-box-element-title">{{service_box_flight_title}}</h3>
          <p class="app-main-box-element-paragraph">{{service_box_flight_paragraph}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
