<div class="app-about app-flex">
  <div class="app-about-main app-container app-flex">
      <div class="app-about-container app-flex">
      <div class="app-about-box app-flex">
        <div class="app-top">
          <h2 class="app-top-title">{{about_title}}</h2>
          <p  class="app-top-paragraph">{{about_paragraph}}</p>
        </div>
        <div class="app-center">
          <p class="app-center-paragraph">{{about_info}}</p>
        </div>
        <div class="app-bottom app-flex">
          <div class="app-icons app-flex">
            <a href="https://www.instagram.com/wmtravelservice/"><i class="fa-brands fa-facebook app-social"></i></a>
            <a href="https://www.instagram.com/wmtravelservice/"><i class="fa-brands fa-instagram app-social"></i></a>
            <a href="https://www.instagram.com/wmtravelservice/"><i class="fa-brands fa-twitter app-social"></i></a>
            <a href="mailto:wmservicetravel@gmail.com"><i class="fa-solid fa-envelope app-social"></i></a>
          </div>
          <a class="app-contact app-flex" href="https://wa.me/447551782944?text=Ol%C3%A1%2C%20gostaria%20de%20saber%20como%20funciona%20a%20ag%C3%AAncia%20de%20turismo%3F">{{about_link}}</a>
        </div>
      </div>
      <div class="app-about-wight">
        <img class="app-about-img img-about" src="../../../../assets/img/about.jpg">
      </div>
    </div>
  </div>
</div>
